@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.name {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    margin-top: 124px;
}

.tabs {
    width: 80vw;
    margin: auto;
}

.tabTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #98A2B3;
}

.tabContent {
    margin: 49px 0px 60px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
}

.tags {
    width: 80vw;
    margin: auto;
    padding-top: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
