@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.tags {
    width: 80vw;
    margin: auto;
    padding-top: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}